In [1]:
import pandas as pd

In [3]:
data={

    'x': [1,2,3,4,5,78,9],
    'y' :[12,44,3,2,1,5,9]
}

In [4]:
data

{'x': [1, 2, 3, 4, 5, 78, 9], 'y': [12, 44, 3, 2, 1, 5, 9]}

In [11]:
df=pd.DataFrame(data)

In [12]:
df

    x   y
0   1  12
1   2  44
2   3   3
3   4   2
4   5   1
5  78   5
6   9   9

In [9]:
#Calculate Co-relation

In [10]:
pearson_corr=df['x'].corr(df['y'])
print("pearson correlation coefficient:",pearson_corr)

pearson correlation coefficient: -0.2016486289191003

In [13]:
df.corr()

          x         y
x  1.000000 -0.201649
y -0.201649  1.000000